@model PrintingIndicationFeature

@{
    // Determino i nomi dei campi in base all'Id sezione
    var nameFeature = $"{Model.FeatureId}_{Model.SectionId}";
    var fieldCmbIndication = $"cmbPrintingIndication{Model.SectionId}";

    var options = new List<SelectListItem>();

    for (int i = 0; i < Model.Options.Length; i++)
    {
        if (Model.Options[i].IdSection == Model.SectionId)
        {
            options.Add(new SelectListItem
            {
                Value = Model.Options[i].ID.ToString(),
                Text = Model.Options[i].ValueName,
                Selected = (int) Model.Indication == Model.Options[i].ID ? true : false
            });
        }

    }

}

<div id="@nameFeature" class="container-fluid box-feature">
    <div style="min-width: 200px;" class="form-row">
        <div class="col-10 col-form-label">
            <label for="@fieldCmbIndication">@Model.Name</label>
            <select id="@fieldCmbIndication" asp-items="options" asp-for= "@Model.Indication" section-id="@Model.SectionId" class="form-control" style="max-width: 20em;"></select>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        $('select[id^="cmbPrintingIndication"]').off().change(function () {
            let sectionId = parseInt($(this).attr("section-id"));
            let indication = parseInt($(this).val());

            switch (indication) {
                case -1:
                    showBoxFeature(false, sectionId);
                    break;
                case 1:
                    showBoxFeature(true, sectionId);
                    showFieldBackColor(false, sectionId);
                    break;
                case 2:
                    showBoxFeature(true, sectionId);
                    showFieldBackColor(true, sectionId);
                    break;
            }
        });
    });
</script>
